@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

.a {
  position: relative;
  top: 10px;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  animation: bounce 0.3s ease infinite alternate;
  font-size: var(--huge-font-size);
  color: var(--dark-color);
  text-shadow: 0 1px 0#10061C, 0 2px 0 #10061C, 0 3px 0 #10061C, 0 4px 0 #10061C,
    0 5px 0 #10061C, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

  
.a:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
  
.a:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.a:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.a:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/* ANIMATION */
@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #10061C, 0 2px 0 #10061C, 0 3px 0 #10061C, 0 4px 0 #10061C,
      0 5px 0 #10061C, 0 6px 0 #10061C, 0 7px 0 #10061C, 0 8px 0 #10061C, 0 9px 0 #10061C,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}